<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="asset/globals.css" />
    <link rel="stylesheet" href="asset/home.css" />
  </head>
  <body>
    <div class="consultant-h-s">
      <div class="consultant-demo-h-s">
        <div class="overlap">
          <div class="overlap-group">
            <img class="logo" src="img/logo.png" />
            <div class="group">
              <div class="dashboar">
                <div class="div">
                  <div class="solar-calendar"></div>
                  <div class="nh-profile">
                    <div class="div-wrapper"><div class="text-wrapper">pic</div></div>
                  </div>
                  <div class="text-wrapper-2">Đào thị mai vy</div>
                </div>
                <div class="nt-h-s">
                  <div class="frame">
                    <div class="h-s">
                      <img class="ic-baseline-person" src="img/ic-baseline-person-outline.svg" />
                      <div class="text-wrapper-3">hồ sơ</div>
                    </div>
                  </div>
                </div>
                <div class="lch-lm-vic">
                  <div class="text-wrapper-4">lịch làm việc</div>
                  <img class="img" src="img/group.png" />
                </div>
                <div class="group-2">
                  <div class="bi-calendar-day"></div>
                  <div class="text-wrapper-5">lịch hẹn</div>
                </div>
                <div class="group-3">
                  <img class="img-2" src="img/mage-message-round.svg" />
                  <div class="text-wrapper-6">câu hỏi</div>
                </div>
                <div class="group-4">
                  <img class="img-2" src="img/carbon-white-paper.svg" />
                  <div class="text-wrapper-7">kết quả</div>
                </div>
              </div>
            </div>
            <div class="line-wrapper"><img class="line" src="img/line-13.svg" /></div>
          </div>
          <p class="p">HỆ THỐNG TƯ VẤN SỨC KHỎE</p>
          <div class="nh-consultant">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2"><div class="text-wrapper-8">pic</div></div>
            </div>
          </div>
          <p class="TS-BS-o-th-mai-vy">
            <span class="span">TS.BS Đào Thị Mai Vy<br /></span>
            <span class="text-wrapper-9"
              >Chuyên khoa: Sản phụ khoa<br />Kinh nghiệm: 10 năm<br />&#34;Tôi là chuyên gia về sức khỏe sinh
              sản...&#34;</span
            >
          </p>
          <p class="b-ng-c-p-b-ng-y-khoa">
            <span class="span">Bằng cấp<br /></span>
            <span class="text-wrapper-10"
              >Bằng Y khoa - ĐH Y Hà Nội (2010)<br />Chứng chỉ Tư vấn Sức khỏe Sinh sản (2022)</span
            >
          </p>
          <div class="nt-chnh-h-s">
            <div class="frame-2"><div class="text-wrapper-11">chỉnh sửa hồ sơ</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
