body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: #1f2937;
}



.faq-container {
    max-width: 1200px;
    margin: 110px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.faq-container h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 77px;
}

.faq-container .highlight {
    color: #28a745;
    /* Màu xanh lá */
    font-weight: bold;
}

details {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 20px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

summary {
    padding: 16px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    color: #28a745;
    position: relative;
}

summary::marker {
    display: none;
}

summary::after {
    content: "▾";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    color: #28a745;
}

details[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq-answer {
    padding: 0 0 16px;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}

.more-question {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-top: 30px;
}

.more-question a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.more-question a:hover {
    text-decoration: underline;
}

/*Footer cho tất cả các trang*/
.custom-footer {
    background-color: #a4eaa2;
    padding: 20px 30px;
    font-size: 16px;
    color: #000;
    font-family: Inter, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 170px;
}

.footer-logo .brand-name {
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.footer-hotline {
    text-align: right;
    font-size: 18px;
}

.footer-hotline span {
    font-weight: bold;
    margin-right: 5px;
}

.footer-info {
    font-size: 14px;
    line-height: 1.6;
}

.footer-info p {
    margin-bottom: 10px;
}

.footer-info .copyright {
    margin-top: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #000;
}