<link rel="stylesheet" href="/Frontend/assets/css/sidebar.css" />
<div class="sidebar">
    <div class="logo">
        <a href="/Frontend/Public/Staff/Trangchu_Staff.html">
            <img src="https://i.postimg.cc/hvw59Nzx/logo-staff.png" alt="Logo Trung Tâm">
        </a>
        <p class="logo-text">AN GIỚI</p>
    </div>
    <nav>
        <a href="/Frontend/Public/Staff/Trangchu_Staff.html" class="nav-item"><i class="fas fa-home"></i>
            <span class="sidebar-text">Trang chủ</span></a>
        <a href="/Frontend/Public/Staff/Lichlamviec_Staff.html" class="nav-item"><i class="fas fa-calendar-alt"></i>
            <span class="sidebar-text">Lịch làm việc</span></a>
        <a href="/Frontend/Public/Staff/Quanlydatlich_Staff.html" class="nav-item"><i class="fas fa-calendar-check"></i>
            <span class="sidebar-text">Quản lý đặt lịch</span></a>
        <a href="/Frontend/Public/Staff/Traketquaxetnghiem_Staff.html" class="nav-item"><i class="fas fa-flask"></i>
            <span class="sidebar-text">Trả kết quả xét nghiệm</span></a>
        <a href="/Frontend/Public/Staff/Caidat_Staff.html" class="nav-item"><i class="fas fa-cog"></i>
            <span class="sidebar-text">Cài đặt</span></a>
    </nav>
</div>  