.consultant-h-s {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.consultant-h-s .consultant-demo-h-s {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
}

.consultant-h-s .overlap {
  position: relative;
  width: 1443px;
  height: 1059px;
  top: -7px;
  left: -3px;
}

.consultant-h-s .overlap-group {
  position: absolute;
  width: 1443px;
  height: 1058px;
  top: 1px;
  left: 0;
}

.consultant-h-s .logo {
  position: absolute;
  width: 154px;
  height: 143px;
  top: 6px;
  left: 378px;
  object-fit: cover;
}

.consultant-h-s .group {
  position: absolute;
  width: 388px;
  height: 1058px;
  top: 0;
  left: 3px;
}

.consultant-h-s .dashboar {
  position: relative;
  height: 1058px;
  background-color: #8cd238db;
  border-radius: 14px;
  overflow: hidden;
}

.consultant-h-s .div {
  position: absolute;
  width: 365px;
  height: 99px;
  top: 23px;
  left: 10px;
}

.consultant-h-s .solar-calendar {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 7px;
  left: 313px;
}

.consultant-h-s .nh-profile {
  position: absolute;
  width: 102px;
  height: 99px;
  top: 0;
  left: 0;
}

.consultant-h-s .div-wrapper {
  position: relative;
  width: 100px;
  height: 99px;
  background-color: #d9d9d9;
  border-radius: 50px / 49.5px;
}

.consultant-h-s .text-wrapper {
  position: absolute;
  width: 48px;
  top: 27px;
  left: 26px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1.32px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .text-wrapper-2 {
  position: absolute;
  width: 241px;
  top: 23px;
  left: 100px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #00675b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2.40px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .nt-h-s {
  position: absolute;
  width: 333px;
  height: 85px;
  top: 164px;
  left: 27px;
}

.consultant-h-s .frame {
  height: 85px;
  background-color: #aef784;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 1.5px #00000040;
}

.consultant-h-s .h-s {
  position: relative;
  width: 180px;
  height: 60px;
  top: 13px;
  left: 24px;
}

.consultant-h-s .ic-baseline-person {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}

.consultant-h-s .text-wrapper-3 {
  position: absolute;
  width: 99px;
  top: 8px;
  left: 79px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .lch-lm-vic {
  position: absolute;
  width: 300px;
  height: 43px;
  top: 318px;
  left: 60px;
}

.consultant-h-s .text-wrapper-4 {
  position: absolute;
  width: 223px;
  top: 1px;
  left: 75px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .img {
  position: absolute;
  width: 48px;
  height: 46px;
  top: -2px;
  left: -2px;
}

.consultant-h-s .group-2 {
  position: absolute;
  width: 273px;
  height: 51px;
  top: 430px;
  left: 60px;
}

.consultant-h-s .bi-calendar-day {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.consultant-h-s .text-wrapper-5 {
  position: absolute;
  width: 193px;
  top: 0;
  left: 78px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .group-3 {
  position: absolute;
  width: 232px;
  height: 54px;
  top: 550px;
  left: 61px;
}

.consultant-h-s .img-2 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
}

.consultant-h-s .text-wrapper-6 {
  position: absolute;
  width: 145px;
  top: 6px;
  left: 85px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .group-4 {
  position: absolute;
  width: 241px;
  height: 51px;
  top: 673px;
  left: 60px;
}

.consultant-h-s .text-wrapper-7 {
  position: absolute;
  width: 158px;
  top: 3px;
  left: 81px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}

.consultant-h-s .line-wrapper {
  position: absolute;
  width: 1443px;
  height: 1px;
  top: 149px;
  left: 0;
}

.consultant-h-s .line {
  position: absolute;
  width: 1440px;
  height: 2px;
  top: -2px;
  left: 3px;
}

.consultant-h-s .p {
  position: absolute;
  width: 643px;
  top: 0;
  left: 532px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 4.32px;
  line-height: 150px;
  white-space: nowrap;
}

.consultant-h-s .nh-consultant {
  position: absolute;
  width: 200px;
  height: 199px;
  top: 161px;
  left: 825px;
}

.consultant-h-s .overlap-group-wrapper {
  width: 202px;
  height: 199px;
}

.consultant-h-s .overlap-group-2 {
  position: relative;
  width: 200px;
  height: 199px;
  background-color: #d9d9d9;
  border-radius: 100px / 99.5px;
}

.consultant-h-s .text-wrapper-8 {
  position: absolute;
  width: 96px;
  top: 54px;
  left: 52px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: 95px;
  white-space: nowrap;
}

.consultant-h-s .TS-BS-o-th-mai-vy {
  position: absolute;
  width: 970px;
  top: 367px;
  left: 438px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 3.84px;
  line-height: 45px;
}

.consultant-h-s .span {
  font-weight: 700;
  letter-spacing: 1.23px;
}

.consultant-h-s .text-wrapper-9 {
  font-family: "Lexend Deca-Regular", Helvetica;
  letter-spacing: 1.23px;
}

.consultant-h-s .b-ng-c-p-b-ng-y-khoa {
  position: absolute;
  width: 970px;
  top: 594px;
  left: 438px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 3.84px;
  line-height: 45px;
}

.consultant-h-s .text-wrapper-10 {
  font-family: "Roboto Flex-Regular", Helvetica;
  letter-spacing: 1.23px;
}

.consultant-h-s .nt-chnh-h-s {
  position: absolute;
  width: 333px;
  height: 85px;
  top: 897px;
  left: 758px;
}

.consultant-h-s .frame-2 {
  position: relative;
  height: 85px;
  background-color: #aef784;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 1.5px #00000040;
}

.consultant-h-s .text-wrapper-11 {
  position: absolute;
  top: 19px;
  left: 44px;
  font-family: "Bungee-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22.5px;
  letter-spacing: 2.70px;
  line-height: 45px;
  white-space: nowrap;
}
