body {
  font-family: Arial, sans-serif;
  background: #a5d6a7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  text-align:center;
  width: 400px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.logo img {
  width: 100px;
}
.logo h1 {
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;

}


h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #8bc34a;
  border-radius: 6px;
  font-size: 16px;
}

button {
  display: block;          
  margin: 20px auto 0;     
  padding: 12px;
  background-color: #8bc34a;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  width: 60%;           
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #7cb342;
}


button:hover {
  background-color: #7cb342;
}
